<div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)] = 'cocktail'>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click) = 'onClick()' >Search</button>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Category</th>
    <th>Alcoholic</th>
    <th>Glass</th>
    <th>Ingredients</th>
    <th>Details</th>
  </thead>
  <tbody>
    <tr *ngFor="let cocktail of cocktails$ | async; index as i">
        <td>{{i + 1}}</td>
        <td>{{cocktail.name}}</td>
        <td>{{cocktail.category}}</td>
        <td>{{cocktail.alcoholic}}</td>
        <td>{{cocktail.glass}}</td>
        <td>{{cocktail.ingredients.join(', ')}}</td>
        <td><a [routerLink]="['/cocktail-details',cocktail.id]">See more</a></td>

    </tr>
  </tbody>
</table>
