<div class="card flex-row " *ngIf="cocktail as cocktail">

  <img class="card-img-top" width="20%" [src]="cocktail.imageUrl">
  <section >
    <div class="card-header">
      <h3 class="h3">{{cocktail.name}}</h3>
    </div>
    <div class="card-block px-2">
      <h4>Category</h4>
      <p>{{cocktail.category}}, {{cocktail.alcoholic}}</p>
      <h4>Ingredients</h4>
      <p>{{cocktail.ingredients.join(', ')}}</p>
      <h4>Instruction</h4>
      <p>{{cocktail.instructions}}</p>
    </div>
  </section>
</div>
